@charset "UTF-8";


:root {
    --principal-color: #d3ad7f;
    --black: var(black);
    --bg: #010103;
    --border: 0.1rem solid rgba(255, 255, 255, 0.3);
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
    font-family: "Roboto", sans-serif;
}


body {
    background-color: var(--bg);
}

section {
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 1200px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    border-bottom: var(--border);
    background: var(--bg);

}


.header section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.navbar a {
    margin: 0 1rem;
    font-size: 1.8rem;
    color: white;
}

.navbar a:hover {
    color: var(--principal-color);
    border-bottom: 0.1rem solid var(--principal-color);
    padding-bottom: 0.5;
    font-size: 2rem;
}

.icons img {
    margin: 1rem;
    cursor: pointer;
}



.icons img:hover {
    transform: scale(1.3);
}



.btn {
    background: var(--principal-color);
    color: white;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    cursor: pointer;
    margin-top: 1rem;
    display: inline-block;


}

.btn:hover {
    transform: scale(1.1);
}

.home-container {
    background: url(imagem-principal/home-img.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.home-container section {
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.content {

    max-width: 60rem;




}

.content h3 {
    color: white;
    font-size: 6rem;

}

.content p {
    color: white;
    font-size: 2rem;
    font-weight: 100;
    line-height: 1.8;
    padding: 1rem 0;

}

.titulo {

    font-size: 5rem;
    color: var(--principal-color);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 4rem;
}

.titulo span {
    color: white;
    text-transform: uppercase;
}

.cafe .row {
    display: flex;
    background-color: rgb(37, 50, 63);
    gap: 1.8rem;

}

.cafe .row .content {
    padding: 2rem;
}

.cafe .row .content h3 {
    font-size: 3rem;
    color: white;
}

.cafe .row .content p {
    font-size: 1.6rem;
    color: white;
    padding: 1rem 0;
    line-height: 1.8;



}

.box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}


.menu .box-container .box {
    text-align: center;
    border: var(--border);
    padding: 5rem;
    cursor: pointer;
}



.menu .box-container .box img {
    height: 10rem;
}

.menu .box-container .box h3 {
    color: white;
    font-size: 2rem;
    padding: 1rem 0;

}

.menu .box-container .box .price {
    color: white;
    font-size: 2.5rem;
    padding: 0.5rem 0;
}

.menu .box-container .box .price span {
    font-size: 1.5rem;
    text-decoration: line-through;
    font-weight: lighter;
    color: red;
}

.menu .box-container .box:hover {
    background-color: rgb(255, 255, 255);
   
}


.menu .box-container .box:hover>* {
    color: var(--black);
}


.review .box-container .box {
    border: var(--border);
    text-align: center;
    padding: 3rem 2rem;

}
.review .box-container .box h3 {
    color: white;
    font-size: 2rem;
    margin: 1rem 0;
}

.review .box-container .box p {
    font-size: 1.5rem;
    color: white;
    padding: 2rem 0;
    line-height: 1.8;
    font-weight: lighter;

}

.review .box-container .box .user {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;

}


.address{
    display: flex;
    align-items: center;
    flex-direction: column;
}




.footer {
    text-align: center;

}

.footer .share {
 padding: 1rem 0;
}

.footer .share img {
    margin: 0.3rem;
    cursor: pointer;
    border-radius: 50%;
    padding: 1rem;

}

.footer .share img:hover {
    background-color: rgb(166, 172, 177);
}












